.lead {
    width: calc(100% - 96px);
    margin: 0 auto;
    padding-top: 48px;
}

@media screen and (min-width: 1280px) {
    .lead {
        width: calc(100% - 296px);
    }
}

@media screen and (min-width: 768px) {
    .lead {
        width: 100%;
    }
}